@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border-top-color: rgba(0, 0, 0, 0.987);
  -webkit-animation: spin 1s ease-in-out infinite;
  animation: spin 1s ease-in-out infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --primary-color: #007bff;
}

.light-theme {
  --bg-color: #ffffff;
  --text-color: #333333;
  --primary-color: #007bff; /* Blue */
}

.dark-theme {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --primary-color: #bb86fc; /* Purple */
}

.blue-theme {
  --bg-color: #e3f2fd;
  --text-color: #0d47a1;
  --primary-color: #2196f3; /* Deep blue */
}

.green-theme {
  --bg-color: #e8f5e9;
  --text-color: #1b5e20;
  --primary-color: #4caf50; /* Green */
}

/* Apply the CSS variables to your styles */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
}
